.search-form {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.search-form input {
  width: 250px;
  height: 40px;
  padding: 10px;
  margin-right: 15px;
  border-radius: 20px;
  border: none;
}

.search-form input:focus {
  outline: 2px solid #eea545;
}

.search-form .form-button {
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #eea545;
  cursor: pointer;

  &:hover {
    background-color: #e29126;
  }

  &:focus {
    background-color: #e29126;
  }
}
