.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -15px;
  margin-left: -15px;

  &__item {
    margin-bottom: 15px;
    margin-left: 15px;
  }
}

.photo-card {
  position: relative;
}


